/* * {
  border: 1px solid black;
} */

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

/* .App {
  text-align: center;
  background-image: url("./resources/backgrounds/Sunny.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
} */

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
